.project-details {
  width: 80%;
  margin: 0 auto;
  direction: rtl;
  padding: 70px 24px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: none;
  border-radius: 0;
  font-size: 1rem;
  font-weight: var(--font-extra-light);
  cursor: pointer;
  background: none;
  background-color: transparent;
  outline: none;
  appearance: none;
  gap: 2px;

  -webkit-appearance: none;
  -moz-appearance: none;
  align-self: flex-start;
}

.back-button:hover {
  color: var(--accent-color);
  gap: 8px;
  transition: all 0.3s;
}

.project-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--accent-color);
  padding: 2rem;
}

.project-header h1 {
  font-size: 3.75rem;
  color: var(--color-primary);
  font-weight: var(--font-regular);
}

.project-description {
  width: 50%;
  padding: 0 0 2rem 0;
}

.project-description p {
  font-size: 1.125rem;
  color: var(--color-primary);
  line-height: 1.8rem;
  font-weight: var(--font-extra-light);
  text-align: center;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem;
  color: var(--text-color);
}

.error {
  color: #e74c3c;
}
